.navigation {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.navigation_open {
  visibility: visible;
  opacity: 1;
}

.navigation__menu {
  width: 520px;
  height: 100vh;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 159px;
  padding-bottom: 90px;
  box-sizing: border-box;
  transform: translateX(520px);
  transition: 0.3 ease-in-out;
}

.navigation__menu_open {
  transform: none;
}

.navigation__close-btn {
  background-image: url(../../images/close-button.svg);
  background-size: contain;
  width: 17.68px;
  height: 17.68px;
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  right: 29.16px;
  top: 29.16px;
  cursor: pointer;
}

.navigation__close-btn:hover {
  opacity: 0.5;
  
}

.navigation__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 4px;
  margin-top: 22px;
}

.navigation__link:first-of-type {
  margin: 0;
}

.navigation__link:last-of-type {
  margin-bottom: auto;
}

.navigation__link_active {
  border-bottom: solid 2px #ffffff;
}
