.nav-tab {
  list-style: none;
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0;
  background-color: #272727;
  width: 100vw;
}

.nav-tab__link {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: #ffffff;
  transition: all 0.8s;
}

.nav-tab__link:hover {
  opacity: 0.5;
}


@media screen and (max-width: 430px) {
  .nav-tab {
    gap: 24px;
  }
  
  .nav-tab__link {
    font-size: 11px;
  }
}
